<div class="panel panel-default">
  <div class="panel-body">
<div class="form-group">
<label>Name:</label>
{{input type="text" class="form-control" placeholder="Angebotsname" value=item.title}}
</div>
<div class="form-group">
<label>Betrag:</label>
{{input type="Number" class="form-control" placeholder="Angebotsname" value=item.title}}
</div>
<div class="form-group">
<label>Rechnungszeitpunkt:</label>
{{bs-datetimepicker date=item.time format='HH:mm DD.MM.YYYY'}}
</div>
</div>
</div>
