<div class="col-lg-6">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Insgesamte Ausgaben</h3>
    </div>
    <table class="table">
      <thead>
        <tr><td>Name</td><td>Betrag</td><td>Benutzer</td></tr>
    </thead>
      <tbody>
        <tr><td>Scheuermilch</td><td>1.69</td><td>Henrik</td></tr>
      </tbody>
</table>
    <div class="panel-footer">
      <strong>Summe:</strong>1.69
    </div>
  </div>
</div>
<div class="col-lg-6">
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Deine Beiträge</h3>
  </div>
  <table class="table">
    <thead>
      <tr><td>Name</td><td>Betrag</td><td>Datum</td></tr>
  </thead>
    <tbody>
      <tr><td>Scheuermilch</td><td>1.69</td><td>23.1.17</td></tr>
    </tbody>
  </table>
  <div class="panel-footer">
    <strong>Summe:</strong>1.69
  </div>
</div>
</div>
<div class="col-lg-3">
</div>
<center>
  <div class="col-lg-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Ausstehende Beträge</h3>
      </div>
      <ul class="list-group">
   <li class="list-group-item">Anzahl der Benutzer:     <span class="badge">3</span></li>
   <li class="list-group-item">Betrag pro Benutzer: <span class="badge">1.69</span></li>
   <li class="list-group-item">Dein Beitrag: <span class="badge">1.69</span></li>
      </ul>
      <div class="panel-footer">
        <strong>Summe:</strong>0
      </div>
    </div>
  </div>
</center>
{{outlet}}
